@import "tailwindcss";

:root {
  --background: oklch(0.985 0.002 247.839);
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.input-container {
  @apply flex flex-col w-full h-[85px] mb-2
}

.input-subcontainer {
  @apply flex h-10 items-center px-1.5 rounded-sm focus-within:ring-blue-300 focus-within:ring-2 
  focus-within:outline-none inset-ring-transparent
}

.button-primary {
  @apply p-2 rounded-sm cursor-pointer font-semibold bg-blue-600 text-white hover:bg-blue-500
}

.button-primary-v2 {
  @apply inline-flex items-center gap-1.5 p-2 rounded-md cursor-pointer font-semibold text-gray-400 
  bg-gray-100 hover:text-white hover:bg-blue-500 transition-colors
}

.button-primary-v3 {
  @apply flex bg-blue-400 p-2 rounded-md gap-1.5 text-white font-semibold justify-center
}

.loader {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  margin: 8px auto;
  position: relative;
  background: #FFF;
  box-sizing: border-box;
  animation: shadowExpandX 2s linear infinite alternate;
}

@keyframes shadowExpandX {
  0% {
    box-shadow: 0 0, 0 0;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: -24px 0, 24px 0;
    color: rgba(255, 255, 255, 0.8);
  }
} 