.form {
  display: flex;
  flex-direction: column;
}

.form_button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: var(--blue-600);
}

.form_button:hover {
  background-color: var(--blue-500);
  cursor: pointer;
}